<template>
    <div class="pagination" v-if="(pageCount > 1) && (curentPage!='all')">
        <ul class="parination__list">
            <li class="pagination__item pagination__item--prev" @click="plusMinus" style="cursor: pointer"><div > <- </div></li>
            <li class="pagination__item"  @click="addingGoods(index)" style="cursor: pointer" :class="{ active: curentPage == pagin }" v-for="(pagin,index) in pagins" v-if="pagin">
                <div >{{pagin}}</div>
            </li>
            <li class="pagination__more all"><div @click="allGoods" style="cursor: pointer">Все</div></li>
            <li class="pagination__item pagination__item--next" @click="plusGoods" style="cursor: pointer"><div >-></div></li>
        </ul>
    </div>
</template>
<style>
    ul {
        padding: 0;
        list-style: none;
    }
    .parination__list{
        display:flex;
        width: 100%;
        justify-content: center;
    }

    .pagination__more {
        cursor: default;
        border: none;
        width: auto;
    }
    .pagination__item {
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        width: 25px;
        height: 25px;
        margin: 0 10px;
        cursor: pointer;
        position: relative;
        user-select: none;
        cursor: pointer;


    }
    .pagination__item.active {
        background: #259d6d;
        margin: 0 7px;
        color: white;
        font-weight: 700;
    }
    .pagination__item--next, .pagination__item--prev {
        border: none;
        width: auto;
    }
</style>

<script src="./index.js"></script>