<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default">Назад</router-link>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Добавление записи</div>
            <div class="panel-body">
                <div >

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Ваше имя</label>
                            <input type="text" class="form-control" v-model="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Сообщение</label>
                            <input type="text" class="form-control" v-model="subject">
                        </div>
                    </div>
                    <div class="row" v-if="userToken">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Файл</label>
                            <input type=file ref="file" id="file" v-on:change="handleFileUpload()"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <span v-if="error" style="color: red">Некоректро заполненные данный</span>
                        <div class="col-xs-12 form-group">
                            <button class="btn btn-success" @click="save()">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="./index.js"></script>