<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'createBooks'}" class="btn btn-success">Добавить запись
            </router-link>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Записи</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Сообщение</th>
                        <th>Пользователь</th>
                        <th>Файл</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="book in objects">
                        <td>{{book.name}}</td>
                        <td>{{book.subject}}</td>
                        <td>
                            <p v-if="book.files.length > 0" >
                                <span v-for="itemFiles in book.files">{{itemFiles.user.name}}</span>
                            </p>
                            <p v-else>Гость</p>
                        </td>
                        <td>
                            <p v-if="book.files.length > 0" >
                                <a v-for="itemFiles in book.files" :href="'/file/' + itemFiles.name">{{itemFiles.name}}</a>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pagin :count-element="books.length" :count-element-screen="countElementScreen" :curent-page="curentPage" v-on:changepage="changepage" style="width: 100%;"></pagin>
    </div>
</template>
<script src="./index.js"></script>